        <!-- /// ABOUT SECTION /// -->
        <div id="about" class="large-margin">
            <a href="about"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">ABOUT <span class="colored">US</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="tiny-margin">We are a dedicated team of developers, designers, artists, programmers, and most importantly gaming enthusiasts who love to create retro-inspired arcade classics for the Atari 7800 game system.</p>
                    <p class="tiny-margin">The Atari 7800 has significantly improved graphics over the Atari 2600 bringing many classic aracde titles to the platform in it's heyday. With modern development tools and the ability to use the Pokey audio chip right on the cartridge, the Atari 7800 is a platform ready to be brought into the future.</p>
                </div>
                <div class="col-md-6">
                    <img id="support-image" src="images/atari7800.png" data-src="images/atari7800.png" class="img-fluid b-lazy" alt="digital collage">
                </div>
            </div>
        </div>