        <!-- /// CONTACT SECTION /// -->
        <div id="buy" class="large-margin">
            <a href="buy"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">WHERE TO <span class="colored">BUY</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="">
                <div class="row small-margin">
                    <div class="col-md-11">
                        <p>Our games are designed to the played on original Atari 7800 hardware on catridge and will be available for purchase from AtariAge.</p>
                    </div>
                </div>
             </div>
        </div>