        <!-- /// CONTACT SECTION /// -->
        <div id="buy" class="large-margin">
            <a href="buy"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">WHERE TO <span class="colored">BUY</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="">
                <div class="row small-margin">
                    <div class="col-md-11">
                        <p>Our games are available to purchase on cartridge or via digital download. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra laoreet dolor sit amet blandit. Ut suscipit nisl ut risus volutpat malesuada.</p>
                    </div>
                </div>
             </div>
        </div>