  <!-- /// FOOTER /// -->
  <footer id="main-footer">
    <div id="footer"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copyright">&copy; {{ site.company }} <span id="year"> </span></p><!-- Copyright Text -->
                    <ul class="social-links">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-lg icon-social"></i></a> <span class="network-name">{{ network.title }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!-- Container End -->
    </div>
</footer><!-- Footer End -->