        <!-- /// GAMES SECTION /// -->
        <div id="games" class="large-margin">
            <a href="games"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">OUR <span class="colored">GAMES</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-11 small-margin">
                    <p>Here at {{ site.company }} we pride ourselves in bringing the the best titles to your lounge room by pushing the Atari 7800 to it's limits and delivering rich visuals, music and sounds effects to our games.</p>
                </div>
                <div class="col-md-12">
                    <ul class="game-tags">
                        <li class="colored strong">FILTER</li>
                        <li><a href="#" data-filter=".7800">ATARI 7800</a></li>
                        <li><a href="#" data-filter=".coming">COMING SOON</a></li>
                        <li><a href="#" data-filter=".development">IN DEVELOPMENT</a></li>
                    </ul>
                </div>
            </div>
            <div class="games-portfolio ">
                <!-- Millie and Molly -->
                <div class="row game-card 7800 coming">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="images/millieandmolly/theme1_large.png" data-lightbox="screenshots_millieandmolly">
                            <div class="overlay">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/millieandmolly/theme1.png">
                                <source media="(min-width: 768px)" srcset="images/millieandmolly/theme1_large.png">
                                <img src="images/millieandmolly/theme1.png" data-src="images/millieandmolly/theme1.png" class="img-fluid b-lazy" alt="millie and molly image">
                            </picture>
                        </a>
                        <a href="images/millieandmolly/theme2_large.png" data-lightbox="screenshots_millieandmolly"></a>
                        <a href="images/millieandmolly/theme3_large.png" data-lightbox="screenshots_millieandmolly"></a>
                        <a href="images/millieandmolly/theme4_large.png" data-lightbox="screenshots_millieandmolly"></a>
                        <a href="images/millieandmolly/theme5_large.png" data-lightbox="screenshots_millieandmolly"></a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left">MILLIE AND MOLLY 7800</h2>
                        <p class="tags"><span class="subtle">Atari 7800</span></p>
                        <p class="colored strong">COMING SOON</p>
                        <p class="game-description">Millie and Molly is a retro inspired puzzle game featuring 100 levels spread over five themed worlds. This is an Atari 7800 conversion of the Commodore 64 retro smash created by Carleton Handley. <span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade game-modal" id="game1" tabindex="-1" role="dialog" aria-labelledby="scales" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="scales"><span class="colored">M</span>ILLIE AND <span class="colored">M</span>OLLY 7800</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Millie and Molly is a retro inspired puzzle game featuring 100 levels spread over five themed worlds. This is an Atari 7800 conversion of the Commodore 64 retro smash created by Carleton Handley.</p>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/titlescreen.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">BACKGROUND</h2>
                                    <p>I first saw this game on the Commodore 64 not long after it's release in early 2020. I thought it looked great, was really fun to play and had some unique features - all adding up to a very enjoyable experience.  The game is a platform puzzle game where you play grannies Millie and Molly (either separately or together) which starts off easy enough showing you how to dig through dirt, move blocks into position and kill monsters to complete each level.  But don't let that fool you as the puzzles are very well constructed leaving you scratching your head soon enough!</p>
                                    <h2 class="short-hr-left">SPECIAL THANKS</h2>
                                    <p>After making some initial contact with Carleton Handley in early March 2020 (after completing a proof of concept), the team continued to develop, build and test the game until it was around 90% complete.  Carleton was very impressed with how well the game had come together, enough to suggest we contact his other team members Chun Wah Kong (level design), Saul Cross (graphics), and Hans Axelsson-Svala (music) to approve a release. We are very pleased to announce that each has given their blessing for our conversion to be released on cart.</p>                                    
                                    <p>Whilst we have had the pleasure to create this conversion we cannot thank each of them enough for designing such a brilliant, thoughtful and enjoyable game.  If you are a Commodore 64 user and have yet to play this game please support Carleton and the team by <a href="https://carletonhandley.itch.io/millie-and-molly" target="_blank"><span class="expand colored strong">purchasing the original.</span></a></p>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/theme1.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">INSTRUCTIONS</h2>
                                    <p>Help Millie and Molly clear their world of the malicious monsters.</p>
                                    <p>Monsters are killed by walking into them from the side.</p>
                                    <p>Don't fret, Millie and Molly can't die!</p>
                                    <p>They can fall from any height and even have items dropped onto their heads.</p>
                                    <p>To help you get at those hard to reach monsters items can be pushed, ladders can be climbed and dirt can be dug through.</p>
                                    <p>Millie and Molly can even use each other as platforms when they are in a level together </p>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/theme2.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">FEATURES</h2>
                                    <ul>
                                        <li>100 original levels spread over 5 themed worlds</li>
                                        <li>Rewind feature allowing you to step back and fix your mistakes</li>
                                        <li>1 or 2 button joystick/joypad support</li>
                                        <li>Save key and level passcode support (for tracking your current progression)</li>
                                        <li>Graphics have been faithfully re-created and colored for the Atari 7800</li>
                                        <li>8 incredible pokey tunes re-creating the superb originals</li>
                                    </ul>
                                    <br>
                                    <h2 class="short-hr-left">CONTROLS</h2>
                                    <ul>
                                        <li>Joystick or joypad in the left controller port</li>
                                        <li>Button 1 to switch between the sisters</li>
                                        <li>Hold Button 1 to rewind your mistakes</li>
                                        <li>Button 2 or Pause toggles menu access</li>
                                    </ul>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/theme3.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">CREDITS</h2>
                                    <h3 class="short-hr-left">Original Design</h3>
                                    <p><b>Code</b> Carleton Handley</p>
                                    <p><b>Puzzle Design</b> Chun Wah Kong, Patsy Chim</p>
                                    <p><b>Graphics</b> Saul Cross</p>
                                    <p><b>Music</b> Hans Axelsson-Svala</p>
                                    <p><b>QA</b> @tonik_c64</p>
                                    <h3 class="short-hr-left">Conversion</h3>
                                    <p><b>Code</b> Matthew Smith, Mike Saarna</p>
                                    <p><b>Music</b> Bobby Clark</p>
                                    <p><b>QA</b> Robert Tuccitto, Steve Ramirez</p>
                                    <p><b>AtariAge</b> Albert Yarusso, CPUwiz</p>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/theme4.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">FURTHER INFORMATION</h2>
                                    <p>For further information about Millie and Molly 7800, read the <a href="https://atariage.com/forums/topic/306911-millie-and-molly-atari-7800" target="_blank"><span class="expand colored strong">AtariAge</span></a> forum discussion.</p>
                                    <br>
                                    <img class="img-fluid" src="images/millieandmolly/theme5.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">RELEASE</h2>
                                    <p>Millie and Molly 7800 will be available for purchase on cart via the AtariAge store sometime in late 2020/early 2021 (TBC).</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Millie & Molly End -->
                <!-- Arkanoid -->
                <div class="row game-card 7800 development">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="#" class="js-video-button" data-video-id='xbmlFOvEDik' data-channel="youtube"> <!-- Video link goes here -->
                            <div class="overlay">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                            <img src="images/arkanoid/level1.png" data-src="images/arkanoid/level1.png" class="img-fluid b-lazy" alt="video-thumbnail"> <!-- Video Thumbnail Img -->
                        </a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left">ARKANOID</h2>
                        <p class="tags"><span class="subtle">Atari 7800</span></p>
                        <p class="colored strong">IN DEVELOPMENT</p>
                        <p class="game-description">The era and time of this story is unknown. After the mothership “Arkanoid” was destroyed, a spacecraft “Vaus” scrambled away from it. But only to be trapped in space warped by someone... <span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade game-modal" id="game1" tabindex="-1" role="dialog" aria-labelledby="scales" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="scales"><span class="colored">A</span>RKANOID</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The era and time of this story is unknown. After the mothership “Arkanoid” was destroyed, a spacecraft “Vaus” scrambled away from it. But only to be trapped in space warped by someone...</p>
                                    <br>
                                    <img class="img-fluid" src="images/arkanoid/level3.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">HOW TO PLAY</h2>
                                    <p>You control a paddle (the spacecraft Vaus) at the bottom of the screen which you use to deflect an energy ball towards rows of “Bricks” at the top the screen, thus destroying them and eventually clearing the screen to progress to the next level. Certain bricks when destroyed release power-up capsules which grant additional powers such as capturing the energy ball, equipping your Vaus with a laser cannon or opening a warp gate allowing you to escape to the next level.</p>
                                    <br>
                                    <img class="img-fluid" src="images/arkanoid/level2.png" alt="screenshot">
                                    <img class="img-fluid" src="images/arkanoid/level4.png" alt="screenshot">
                                    <p>The final 33rd stage is a confrontation between the Vaus and the entity “Doh”. To destroy the Doh and return from distorted space, hit the Doh repeatedly with your energy ball whilst avoiding the deadly projectiles he spits from his mouth.</p>
                                    <br>
                                    <img class="img-fluid" src="images/arkanoid/level-doh.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">CONTROLS</h2>
                                    <p>Use paddles (recommended), joypad or joystick to move the Vaus left and right to direct the energy ball back towards the bricks. The position the ball hits the Vaus will determine the direction of the energy ball.</p> 
                                    <br>
                                    <h2 class="short-hr-left">POKEY AUDIO</h2>
                                    <p>Arkanoid superbly re-creates the arcade soundtrack right in your lounge room using the Pokey audio chip. A separate release with TIA sound will be made available in the future.</p>
                                    <br>
                                    <h2 class="short-hr-left">CREDITS</h2>
                                    <ul>
                                        <li>Matthew Smith (coding, design & graphics)</li>
                                        <li>Mike Saarna, Bob DeCrescenzo (coding)</li>
                                        <li>Bobby Clark (sound and music)</li>
                                        <li>Marco Sabbetta (graphics)</li>
                                        <li>Robert Tuccitto, Steve Ramirez, Kevin Mosley (testing)</li>
                                        <li>John Calcano (box & cart art design)</li>
                                        <li>Albert Yarusso, CPUwiz (AtariAge)</li>
                                    </ul>
                                    <br>
                                    <h2 class="short-hr-left">FURTHER INFORMATION</h2>
                                    <p>For further information about the development of Arkanoid, read the <a href="https://atariage.com/forums/topic/291616-arkanoid-wip/" target="_blank"><span class="expand colored strong">AtariAge</span></a> forum discussion.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Arkanoid End -->
                
            </div>
        </div>
    