        <!-- /// GAMES SECTION /// -->
        <div id="games" class="large-margin">
            <a href="games"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">OUR <span class="colored">GAMES</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-11 small-margin">
                    <p>Here at {{ site.company }} we pride ourselves in delivering rich and polished experiences for the Atari 7800.</p>
                </div>
                <div class="col-md-12">
                    <ul class="game-tags">
                        <li class="colored strong">FILTER</li>
                        <!-- <li><a href="#" data-filter="*">ALL</a></li> -->
                        <li><a href="#" data-filter=".7800">ATARI 7800</a></li>
                        <li><a href="#" data-filter=".coming">COMING SOON</a></li>
                    </ul>
                </div>
            </div>
            <div class="games-portfolio ">
                <!-- Game Card Video -->
                <div class="row game-card 7800 coming">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="#" class="js-video-button" data-video-id='xbmlFOvEDik' data-channel="youtube"> <!-- Video link goes here -->
                            <div class="overlay">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                            <img src="images/arkanoid/titlescreen.png" data-src="images/arkanoid/titlescreen.png" class="img-fluid b-lazy" alt="video-thumbnail"> <!-- Video Thumbnail Img -->
                        </a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left">ARKANOID</h2>
                        <p class="tags"><span class="subtle">Atari 7800</span></p>
                        <p class="game-description">The era and time of this story is unknown. After the mothership “Arkanoid” was destroyed, a spacecraft “Vaus” scrambled away from it. But only to be trapped in space warped by someone... <span class="expand colored strong" data-toggle="modal" data-target="#game1">Read More</span></p>
                        <div class="rating">
                            <p class="strong">4.5</p>
                            <ul>
                                <li><i class="fa fa-star colored"></i></li>
                                <li><i class="fa fa-star colored"></i></li>
                                <li><i class="fa fa-star colored"></i></li>
                                <li><i class="fa fa-star colored"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade game-modal" id="game1" tabindex="-1" role="dialog" aria-labelledby="scales" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="scales">ARKANOID</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>The era and time of this story is unknown. After the mothership “Arkanoid” was destroyed, a spacecraft “Vaus” scrambled away from it. But only to be trapped in space warped by someone...</p>
                                    <img class="img-fluid" src="images/arkanoid/level1.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">HOW TO PLAY</h2>
                                    <p>You control a paddle (the spacecraft Vaus) at the bottom of the screen which you use to deflect an energy ball towards rows of “Bricks” at the top the screen, thus destroying them and eventually clearing the screen to progress to the next level. Certain bricks when destroyed release power-up capsules which grant additional powers such as capturing the energy ball, equipping your Vaus with a laser cannon or opening a warp gate allowing you to escape to the next level.</p>
                                    <p>The final 33rd stage is a confrontation between the Vaus and the entity “Doh”. To destroy the Doh and return from distorted space, hit the Doh repeatedly with your energy ball whilst avoiding the deadly projectiles he spits from his mouth.</p>
                                    <img class="img-fluid" src="images/arkanoid/level2.png" alt="screenshot">
                                    <img class="img-fluid" src="images/arkanoid/level3.png" alt="screenshot">
                                    <img class="img-fluid" src="images/arkanoid/level4.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">CONTROLS</h2>
                                    <p>Use paddles (recommended), joypad or joystick to move the Vaus left and right to direct the energy ball back towards the bricks. The position the ball hits the Vaus will determine the direction of the energy ball.</p> 
                                    <img class="img-fluid" src="images/arkanoid/level-doh.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">POKEY AUDIO</h2>
                                    <p>Arkanoid superbly re-creates the arcade soundtrack using the Pokey audio chip bringing the arcade right into your lounge room. A separate release with TIA music will be made available in the future.</p>
                                    <br>
                                    <h2 class="short-hr-left">CREDITS</h2>
                                    <ul>
                                        <li>Matthew Smith (coding, design & graphics)</li>
                                        <li>Mike Saarna, Bob DeCrescenzo (coding)</li>
                                        <li>Bobby Clark (sound and music)</li>
                                        <li>Marco Sabbetta (graphics)</li>
                                        <li>Robert Tuccitto, Steve Ramirez, Kevin Mosley (testing)</li>
                                        <li>John Calcano (box & cart art design)</li>
                                        <li>Albert Yarusso, CPUwiz (AtariAge)</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Game Card End -->
                
            </div>
        </div>
    