    <!-- /// HERO SECTION /// -->
    <div id="hero-section" class="medium-margin">
        <div class="row hero-unit">
            <div class="col-xl-5 col-md-12">
                <div class="hero-caption"><!-- Main Tagline -->
                    <h1>WE MAKE <br> <span id="moving-text" class="colored">RETRO, ATARI 7800, BEAUTIFUL</span> <br> GAMES <br></h1>
                </div>
            </div>
            <div class="col-xl-7 col-md-12">
                <div id="hero-slider" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/hero/hero1.png" class="d-block w-100" alt="img">
                        </div>
                        <div class="carousel-item">
                            <img src="images/hero/hero2.png" class="d-block w-100" alt="img">
                        </div>
                        <div class="carousel-item">
                            <img src="images/hero/hero3.png" class="d-block w-100" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Hero Section End -->