    <!-- /// HERO SECTION /// -->
    <div id="hero-section" class="medium-margin">
        <div class="row hero-unit">
            <div class="hero-overlay"></div>
            <video autoplay loop muted poster="images/poster.jpg" id="bgvid" class="img-fluid">
                <source src="images/bg-vid.mp4" type="video/mp4"><!-- your video goes here -->
            </video>
                <div class="hero-caption">
                <h1>WE MAKE <span class="colored">AWESOME</span> GAMES</h1>
            </div>
        </div>
    </div><!-- Hero Section End -->