    <!-- //// SCRIPTS //// -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blazy.min.js"></script>
    <script src="js/particles.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/jquery-modal-video.min.js"></script>
    <script src="js/validator.min.js"></script>
    <script src="js/strider.js"></script>