        <!-- /// TOOLS SECTION /// -->
        <div id="tools" class="large-margin">
            <a href="tools"></a><!-- Nav Anchor -->
            <div class="row heading tiny-margin">
                <div class="col-md-auto">
                    <h1 class="animation-element slide-down">OUR <span class="colored">TOOLS</span></h1>
                </div>
                <div class="col">
                    <hr class="animation-element extend">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-11 small-margin">
                    <p>Developer tools can make all the difference when developing retro games.  We have created a freely available extension for Visual Studio Code to help you design, develop and test games for the Atari 2600 and 7800 consoles.</p>
                </div>
            </div>
            <div class="tools-portfolio ">
                <!-- Game Card Video -->
                <div class="row game-card">
                    <div class="col-lg-12 col-xl-5 game-card-left">
                        <a href="images/ataridevstudio/workspace.png" data-lightbox="screenshots_ataridevstudio">
                            <div class="overlay">
                                <i class="fa fa-picture-o fa-3x"></i>
                            </div>
                            <picture>
                                <source media="(min-width: 1200px)" srcset="images/ataridevstudio/workspace.png">
                                <source media="(min-width: 768px)" srcset="images/ataridevstudio/workspace_768.png">
                                <img src="images/ataridevstudio/workspace.png" class="img-fluid" alt="ataridevstudio image">
                            </picture>
                        </a>
                        <a href="images/ataridevstudio/emulator_a7800.png" data-lightbox="screenshots_ataridevstudio"></a>
                        <a href="images/ataridevstudio/emulator_stella.png" data-lightbox="screenshots_ataridevstudio"></a>
                    </div>
                    <div class="col-lg-12 col-xl-7 game-card-right">
                        <h2 class="short-hr-left">ATARI DEV STUDIO</h2>
                        <p class="tags"><span class="subtle">Atari 2600, Atari 7800</span></p>
                        <p class="colored strong">batariBasic, 7800basic, DASM</p>
                        <p class="game-description">Atari Dev Studio is a one-stop-shop for any programmer and includes a number of built-in features to allow you to design, develop and test games for your favourite system. Get started with batari Basic (2600) or 7800basic (7800) using easy to learn BASIC-like languages or go hard-core with assembly using dasm. During development test your creation using the Stella (2600) or A7800 (7800) emulators right from within Atari Dev Studio. <span class="expand colored strong" data-toggle="modal" data-target="#tools1">Read More</span></p>
                        <a href="https://marketplace.visualstudio.com/items?itemName=chunkypixel.atari-dev-studio" target="_blank" class="button-store">
                            <img src="images/vscode_icon.svg" height="32" width="32" style="margin-top: 8px">
                            <p>Available on<br><span class="strong">Visual Studio Marketplace</span></p>
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade game-modal" id="tools1" tabindex="-1" role="dialog" aria-labelledby="scales" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="scales"><span class="colored">A</span>TARI <span class="colored">D</span>EV <span class="colored">S</span>TUDIO</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Atari Dev Studio is a one-stop-shop for any programmer and includes a number of built-in features to allow you to design, develop and test games for your favourite system. Get started with batari Basic (2600) or 7800basic (7800) using easy to learn BASIC-like languages or go hard-core with assembly using dasm. During development test your creation using the Stella (2600) or A7800 (7800) emulators right from within Atari Dev Studio.</p>
                                    <br>
                                    <img class="img-fluid" src="images/ataridevstudio/emulator_a7800.png" alt="screenshot">
                                    <br>
                                    <h2 class="short-hr-left">REQUIREMENTS</h2>
                                    <p>Atari Dev Studio is an extension for Microsoft's cross-platform IDE Visual Studio Code and will run on the Windows, Linux and macOS platforms. The latest releases of batari Basic, 7800basic, dasm, Stella and A7800 are included so you can begin coding straight after installing the extension.</p>
                                    <h2 class="short-hr-left">FEATURES</h2>
                                    <p>Atari Dev Studio includes the following features:</p>
                                    <ul>
                                        <li>Develop your game on Windows, Linux or macOS</li>
                                        <li>Compile source code for your Atari 2600 or 7800 using batari Basic, 7800basic or dasm</li>
                                        <li>Optionally launch and test your game using the Stella (2600) or A7800 (7800) emulators</li>
                                        <li>Built-in Sprite Editor (also suitable for tiles and other objects) [preview]</li>
                                        <li>Manage your project using the File Explorer or version-control your source code directly with GitHub (and others) using the built-in features of the Visual Studio Code platform.</li>
                                        <li>rovide references to your own specific releases of each language or emulator rather than use the includes ones via the Settings.</li>
                                    </ul>
                                    <br>
                                    <img class="img-fluid" src="images/ataridevstudio/workspace.png" alt="screenshot">
                                    <p>Additional features are planned for the future. At this time the focus is on the core functionality and ensuring full cross-platform support.</p>
                                    <br>
                                    <h2 class="short-hr-left">ACKNOWLEDGEMENTS</h2>
                                    <ul>
                                        <li>7800basic - Mike Saarna</li>
                                        <li>batari Basic - Fred 'batari' Quimby</li>
                                        <li>dasm - the many contibutors</li>
                                        <li>Stella emulator - Stephen Anthony</li>
                                        <li>A7800 emulator - Mike Saarna and Robert Tuccitto</li>
                                        <li>Muddyfunster, TwentySixHundred, Lillapojkenpåön and vbauer for their additional testing and bug-reporting of the previous incarnation of this extension for batari Basic.</li>
                                        <li>Mats Engstrom (SmallRoomLabs) for his valued testing, suggestions and enhancements to Atari Dev Studio</li>
                                        <li>The AtariAge community including Albert Yarusso, Random Terrain, Gemintronic, Karl G and ZeroPage Homebrew</li>
                                    </ul>
                                    <br>
                                    <h2 class="short-hr-left">FURTHER INFORMATION</h2>
                                    <p>For further information about Atari Dev Studio, read the <a href="https://atariage.com/forums/topic/290365-atari-dev-studio-for-homebrew-development-release/" target="_blank"><span class="expand colored strong">AtariAge</span></a> forum discussion.</p>
                                    <br>
                                    <h2 class="short-hr-left">SOURCE</h2>
                                    <p>The source code for Atari Dev Studio is available on <a href="https://github.com/chunkypixel/atari-dev-studio" target="_blank"><span class="expand colored strong">Github</span></a>.</p>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="button secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Game Card End -->
                
            </div>
        </div>
    